
<!DOCTYPE html>

<html>
<head>
    <title>学生课程信息列表</title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>

    <div v-show="showList">
        <div class="grid-btn">
            <div class="row">

                <div class="form-group col-md-3">
                    <!--&lt;!&ndash;<b>请选择学科:</b>&nbsp;&ndash;&gt;-->
                    <select id="selmaptype" name="selmode" v-model='q.cname' @keyup.enter="query" class="form-control" >
                        <option selected>-- 请选择科目 --</option>
                        <option  value="数学">数学</option>
                        <option  value="物理">物理</option>
                        <option  value="英语">英语</option>
                        <option  value="语文">语文</option>
                    </select>
                </div>

                <!--<div>-->
                    <!--<div>&nbsp;</div>-->
                    <!--&nbsp;-->
                    <!--<b>请输入检索条件(支持模糊查询):</b>&nbsp;&nbsp;-->
                <!--</div>-->

            <div class="form-group col-md-2">
                <!--回车事件-->
                <input type="text" class="form-control" v-model="q.real_name" @keyup.enter="query" style="width: 97%" placeholder="学生姓名">
            </div>

            <div class="form-group col-md-2">
                <input type="text" class="form-control" v-model="q.school_name" @keyup.enter="query" style="width: 97%" placeholder="学校名">
            </div>

            <div class="form-group col-md-2">
                <input type="text" class="form-control" v-model="q.user_name" @keyup.enter="query" style="width: 97%" placeholder="学生账号">
            </div>

            <!--<div class="form-group col-sm-2">-->
                <!--<input type="text" class="form-control" v-model="q.code" @keyup.enter="query" style="width: 30%" placeholder="学科">-->
            <!--</div>-->
            <!--#if($shiro.hasPermission("user:user:select"))-->
            <div class="form-group col-sm-2">
                <a class="btn btn-default" @click="query">查询</a>
            </div>
            <!--#end-->
            <!--#if($shiro.hasPermission("user:user:see"))-->
            <!--<a class="btn btn-primary" @click="see"><i class="fa fa-plus"></i>&nbsp;查看学习状况</a>-->
            <!--#end-->
        </div>
        <!--</div>-->
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>
<!--添加随机参数为保证缓存的唯一性-->
<script src="${rc.contextPath}/js/data/alluser.js?_${date.systemTime}">

//  var objSelectNow=document.getElementById("select1");
//  var inner="<option value='1'>1</option>";
//  objSelectNow.innerHTML=inner;
//
//  var objOption = document.createElement("OPTION");
//  objOption.text= 2;
//  objOption.value=2;
//  objSelectNow.options.add(objOption);

</script>
</div>
</body>
</html>
