<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>題目</title>
    #parse("sys/header.html")
    <style>
        .row {
            border-color: white;
        }

        html, body {
            margin: 0;

            padding: 0;

            font-size: 75%;

        }
    </style>
    <link rel="stylesheet" href="/js/load/load.css">
</head>
<body id="mainbody">
<div id="rrapp">
    <div v-show="showList">
        <div class="grid-btn">
            <div class="row">
                <div class="col-md-4 form-group form-inline">
                    <label for="date01">日期:</label>
                    <input readonly="readonly" type="text" id="date01" name="date01" v-model="dateSelected"
                           style="width: 80%;" class="form-control">
                </div>
                <div class="col-md-2 form-inline">
                    <label for="difficulty">题目难度:</label>
                    <select id="difficulty" class="form-control" v-model="q.difficulty" style="display: inline-block">
                        <option value="">全部</option>
                        <option value="1">1级</option>
                        <option value="2">2级</option>
                        <option value="3">3级</option>
                        <option value="4">4级</option>
                        <option value="5">5级</option>
                        <option value="6">6级</option>
                        <option value="7">7级</option>
                        <option value="8">8级</option>
                        <option value="9">9级</option>
                    </select>
                </div>

                <div class="col-md-2 form-inline">
                    <label for="subject">科目:</label>
                    <select id="subject" class="form-control" v-model="q.subject" style="display: inline-block">
                        <option value="">全部</option>
                        <option value="30">语文</option>
                        <option value="20">数学</option>
                        <option value="10">外语</option>
                        <option value="40">物理</option>
                    </select>
                </div>

                <div class="col-md-4 form-group form-inline">
                    <span><button class="btn btn-default" @click="query">查询</button></span>
                    <span><button class="btn btn-primary" @click="down"><i
                            class="fa fa-pencil-square-o"></i>&nbsp;导出</button></span>
                </div>
            </div>
            <div class="row">
                <div class=" col-md-4 form-group form-inline">
                    <label for="tagCodeCount">至少做题次数:</label>
                    <div class="input-group">
                        <input id="tagCodeCount" v-model="q.tagCodeCount" name="tagCodeCount" type="text" width
                               class="form-control">
                        <div class="input-group-addon">次</div>
                    </div>
                </div>

                <div class=" col-md-8 form-group form-inline">
                    <label>正答率:</label>
                    <div class="input-group">
                        <input type="text" v-model="q.minRightRate" class="form-control">
                        <div class="input-group-addon">%</div>
                    </div>

                    ~
                    <div class="input-group">
                        <input type="text" v-model="q.maxRightRate" class="form-control">
                        <div class="input-group-addon">%</div>
                    </div>
                </div>

            </div>

            <div>

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#dataTable" aria-controls="dataTable" role="tab"
                                                              data-toggle="tab">数据表</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                               data-toggle="tab">视图</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="dataTable" style="padding: 10px 5px;">
                        <table id="jqGrid"></table>
                        <div id="jqGridPager"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile" style="padding: 10px 5px;">
                        <div id="main" style="width: 1000px;height:300px;margin:10px;"></div>

                        <div id="main1" style="width:1000px;height:250px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/load/load.js"></script>
<script src="/js/echart/echarts.min.js"></script>
<script src="/js/data/subjectAnalyse.js?_${date.systemTime}"></script>

</body>
</html>